<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column" >
      <div >
        <img src="../assets/Hemingway_Mezzanine.jpg" alt="" style="width: 90%; max-height: 400px; max-width: 600px;"/>
      </div>
      <div>
        <em>Photo By, <a href="https://www.famousauthors.org/ernest-hemingway">FAMOUS AUTHORS</a> </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="blue">Ernest Hemingway: A Biography</h1>
    <p>
      Ernest Hemingway was an American novelist and short story writer, widely
      regarded as one of the greatest writers of the 20th century. Born on July
      21, 1899, in Illinois, Hemingway's writing style was characterized by its
      concise and straightforward prose. He drew inspiration from his
      experiences as a journalist and war correspondent, infusing his works with
      themes of masculinity, adventure, and existentialism. Some of his notable
      works include "The Old Man and the Sea," "A Farewell to Arms," and "For
      Whom the Bell Tolls," which earned him the Nobel Prize in Literature in
      1954. Hemingway's legacy continues to influence and inspire writers around
      the world.
    </p>

    <em>Biography By: <a href="https://www.famousauthors.org/ernest-hemingway">Mary V. Dearborn</a> </em>
  </div>
</div>
