<div fxLayout="row" style="overflow: hidden; height: 100vh; width: 100vw">
  <mat-card
    color="primary"
    style="
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background: #3657c55b;
    "
    class="mat-elevation-z0"
  >
    <h1
      style="
        font-size: 82px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
    >
      Oops!
    </h1>
    <h2>Sorry! The Page You are looking for not found!</h2>
    <div style="display: flex; gap: 20px;">
      <button mat-raised-button color="primary" routerLink="/" style="padding: 5px 25px;">
        Return home
      </button>
      <button mat-raised-button color="accent" routerLink="#" style="padding: 5px 25px;">
        Report a problem
      </button>
    </div>
  </mat-card>
  <mat-card
    style="width: 100%; height: 90vh; margin-top: 5%; overflow: hidden"
    class="mat-elevation-z0"
  >
    <div class="">
      <img
        src="../../assets/404_illustration.png"
        alt=""
        width="90%"
        style="padding-top: 15%"
      />
    </div>
  </mat-card>
</div>
<!-- <div fxLayout="column">
  <mat-card
    fxFlex
    style="margin-top: 10; width: 50%; margin-left: 18%"
    class="mat-elevation-z0"
  >
    <mat-card-title  style="display: flex; align-items: center;">
        <div class="">
            name namec jansa wje Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit sed eius nisi suscipit libero recusandae cum voluptas, necessitatibus officia, beatae culpa iure! Voluptatibus exercitationem culpa magni adipisci? Hic, molestias nulla!
        </div>
      <img src="../../assets/404_illustration.png" alt="" />
    </mat-card-title>

    <mat-card-content style="text-align: center; padding-left: 30%">
      <button mat-raised-button color="accent" routerLink="/">
        Return home
      </button>
    </mat-card-content>
  </mat-card>
</div> -->
