<br><br>
<h3 class="text-center">George Frideric Handel</h3>
<hr />
<div class="row">
  <div class="col-sm-4">
    <img
      src="https://img1.cgtrader.com/items/4434907/e83f3b1791/large/earth-planet-photorealistic-8k-3d-model-3d-model-e83f3b1791.jpg"
      style="width: 18rem"
      alt=""
    />
  </div>
  <div class="col-sm-8">
    <p>
      George Frideric Handel, a German-born composer of the Baroque period, is recognized for his significant contributions to Western classical music. Known for his exquisite compositions and remarkable skill as a composer and performer, Handel's works span a wide range of genres, including operas, oratorios, concertos, and orchestral suites. His compositions, such as Messiah, Water Music, and Music for the Royal Fireworks, exemplify his mastery of intricate melodies, dramatic flair, and powerful expressions. Handel's profound impact on music continues to resonate, making him a celebrated figure in the realm of classical music.
    </p>
  </div>
</div>
