<div>
  <mat-card-title style="text-align: center">
    Welcome to About Us page.!
  </mat-card-title>
  <br />
  <mat-card-subtitle class="gryffindor" style="text-align: center">
    DO NOT FORGET CODE ATTRIBUTION!!!
  </mat-card-subtitle>
  <br />
  <br />

  <div fxLayout="column wrap">
    <div fxFlex>
      <h3><strong>Overview</strong></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
        inventore soluta illo maiores amet, recusandae minima adipisci accusamus
        consequatur accusantium harum quaerat facilis fugit doloremque numquam
        magnam laboriosam ab possimus! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Odio dolore, vitae labore voluptas unde pariatur
        molestiae, odit inventore sequi alias libero aut. Temporibus aperiam ad
        ea sed sequi voluptas maiores.
      </p>
    </div>
    <br />
    <div fxFlex>
      <h3><strong>Schedule</strong></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
        inventore soluta illo maiores amet, recusandae minima adipisci accusamus
        consequatur accusantium harum quaerat facilis fugit doloremque numquam
        magnam laboriosam ab possimus! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Odio dolore, vitae labore voluptas unde pariatur
        molestiae, odit inventore sequi alias libero aut. Temporibus aperiam ad
        ea sed sequi voluptas maiores.
      </p>
    </div>
  </div>
</div>
